__pycache__/
*.py[cod]
.pytest_cache/
pytest-cache-files-*/
.vs/
.vscode/
.idea/
/build/
/dist/
/nuitka-crash-report.xml
/deps/
/toolchain/
.bazzalt/
TODO.md
/bazzalt/_editor_resources_rc.py
/bazzalt/_hub_resources_rc.py
/bazzalt/_branding_resources_rc.py
